.footer-wrapper {
  width: 100%;
  height: 250px;
  background-color: var(--bg-color-light);
  backdrop-filter: blur(20px);
  z-index: 3;
  color: var(--semi-white);
  padding-bottom: 45px;
  font-size: 0.8rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-item__aboutus {
  width: 50%;
}
.footer-item__info {
  width: 30%;
}
.footer-item__location iframe {
  width: 100%;
}
.footer-container h5 {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--aqua-color);
  padding: 5px;
  border-bottom: 1px solid var(--aqua-color);
}
.footer-container p {
  font-size: 0.8rem;
  text-align: justify;
}
.footer-info {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.location {
  margin-top: 10px;
  border-radius: 10px;
}
.copyRight-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyRight-container span {
  margin-right: 5px;
}
.social {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}
